name: Publish to Pypi
on:
  push:
    tags:
      - "*"

jobs:
  deploy:
    if: github.repository == 'Cog-Creators/Red-Lavalink'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          python -m pip install -U setuptools pip
          python -m pip install setuptools wheel twine
      - name: Build and publish
        env: 
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.pypi_token }}
        run: |
          python setup.py sdist bdist_wheel
          twine upload dist/*
